[ng-cloak] {
	display: none !important;
}
[ng-cloak].splash {
	display: block !important;
}

.splash {
	display: none !important;
}

.header h1 {
	margin-bottom: 0;
}

h5 {
	font-weight: bold;
}

.main-container {
	padding-left: 4%;
	padding-right: 4%;
	margin-bottom: 100px;
}

.writings-title {
	border-bottom: black 1px solid;
}

.item-data td {
	vertical-align: top;
}

.search-box {
	padding-top: 8px;
	padding-bottom: 8px;
}

div.durandal-wrapper[data-view='views/resourceValue'] {
	display: inline;                                                
}

a {
	cursor: pointer;
}

.resource-value {
	display: inline;
}

.pagination-sm {
	margin: 5px 0;
}

.node-expanded {
	margin-left: 14px;
}

.root-node .pagination {
	margin: 0;
}

.node > h5 > span {
	margin-right: 5px;
}

/* extra small */
.pagination-xsm > li > a, .pagination-xsm > li > span {
	font-size: 9px;
	padding: 2px 6px;
}

.facet-count {
	color: #555555;
}

.thesaurus-node {
	display: inline;
}

.selected a {
	color: red;
	font-weight: bolder;    
}

.selected a:hover {
	color: lightcoral;
	font-weight: bolder;
}

.child-loader {
	display: inline;
	font-weight: normal;
	font-size: 12px;
	vertical-align: middle;
}

.node-label {
	height: 23px;
}

.node-label > ul.pagination {
	vertical-align: middle;
	margin-left: 8px;
	margin-right: 4px; 
}

.thesaurus-node > i.expander {
	display: inline-block;
	margin-right: 4px;
	width: 10px;
	cursor: pointer;    
}

.child-node-list {
	margin-left: 20px;
}

.pagination {
	margin: 10px 0;
}

.pagination-sm > li > a, .pagination-sm > li > span {
	font-size: 12px;
	padding: 4px 6px;
}

.loader {
	position: relative;
	text-align: right;
	vertical-align: middle;
	margin: 6px 54px 4px 8px;
	visibility: hidden;
} 

	.loader > i {
		position: relative;
		z-index: 3;
		top: 85px;
	}

	.loader .active {
		visibility: visible;
	}

.left-column {
	font-size: 12px;
	padding: 0 6px;
}

.left-column.items-side-column {
	margin-top: 70px;    
}

div.item-data > table {
	table-layout: fixed;
}

div.item-data td:first-child {
	width: 30%;
	overflow: hidden;
}

.image-container {
	text-align: center;
}

.image-container img {
	width: auto;
	max-height: 500px;
	max-width: 800px;
}

img.img-thumbnail {
	cursor: pointer;
}

li.item-image {
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 12px;
	vertical-align: top;
	width: 204px;
}

.item-details {
	border-bottom: 1px solid #000000;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}

.item-details h1 {
	margin: 12px 0 16px 0;    
}

.item-writing {
	margin-bottom: 12px;
	margin-top: 4px;
}

.thesaurus-node i {
	font-size: 12px;
}

li.tiled {
	display: inline-block;
	width: 204px;
	vertical-align: top;
	margin-right: 12px;
	margin-bottom: 4px;
}

.fa-spinner.loading-thumbnail {
	position: absolute;
	float: left;
	left: 75px;
	top: 75px;
	z-index: 2;
}

.thumbnail-container {
	position: relative;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: inline-block;
	padding: 4px;
	width: 212px;
	height: 212px;
	line-height: 200px;
	margin-bottom: 4px;
}

.thumbnail-container img {
	cursor: pointer;
}

.item-label {
	clear: both;
}

.resource-link {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	line-height: 1.2;
	vertical-align: middle;
	margin-bottom: 2px;
}

.thesaurusterm-resource,
.bronrecord-resource,
.item-info-window h1.item-label.thesaurusterm-resource,
.item-info-window h1.item-label.bronrecord-resource {
	padding-left: 22px;
	min-height: 17px;
	background-size: 17px 17px;
}

.facet-list .thesaurusterm-resource,
.facet-list .bronrecord-resource,
.referrer-results .thesaurusterm-resource,
.referrer-results .bronrecord-resource {
	padding-left: 20px;
	min-height: 14px;
	background-size: 14px 14px;
}

h5 .thesaurusterm-resource,
h5 .bronrecord-resource {
	font-size: 16px;
}

h1.item-label.thesaurusterm-resource,
h1.item-label.bronrecord-resource {
	padding-left: 48px;
	min-height: 38px;
	background-size: 38px 38px;
}

.item-info-window h1 {
	font-size: 18px;
	font-weight: bold;
}

.thesaurusterm-resource {
	background-image: url('/Content/images/T_icon_38_38_v2.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

.bronrecord-resource {
	background-image: url('/Content/images/B_icon_38_38_v2.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

.grouping-panel-title .bronrecord-resource,
.grouping-panel-title .thesaurusterm-resource {
	padding-left: 28px;
	min-height: 19px;
	background-size: 19px 19px;
}

.btn.bronrecord-resource,
.btn.thesaurusterm-resource {
	background-position: 6px 6px;
	padding-left: 28px;
}

.active-facets .btn i {
	padding-left: 4px;
}

.active-facets {
	margin-bottom: 10px;	
}

.active-facets.well {
	padding-bottom: 6px;	
}

.active-facets button {
	margin-right: 3px;
	margin-bottom: 3px;	
}

.search-results {
	clear: both;
	padding-top: 10px;
}

.beeldbank-link {
	float: left;
}

.modal-dialog {
	width: 820px;
}

.modal-header h4 {
	display: inline;
}

.modal-footer {
	padding: 9px 10px 10px;
	margin-top: 8px;
}

.modal-body {
	padding: 10px;
}

.noscroll {
	overflow: hidden;
}

ol.position-list {
	margin-bottom: 0;
}

.zoekterm {
	font-weight: bold;
}

.no-results {
	margin: 20px 0;
}

.path {
	margin-bottom: 8px;
	list-style: none outside none;
	padding-left: 0;
}

.path > li {
	display: inline-block;
}

.path > li + li:before {
	color: #CCCCCC;
	content: "/ ";
	padding: 0 5px;
}

.item-view {
	position: relative;
}

.item-view-mode {
	margin-bottom: 8px;
	text-align: center;
	display: block;
}

.item-view-mode a {
	width: 100%;
}

.result-grouping .panel {
	margin-bottom: 4px;
}

.result-grouping .panel-heading {
	cursor: pointer;
}

.result-grouping .panel-title {
	font-size: 16px;
}

h5.panel-title .badge {
	margin-left: 4px;
}

.result-grouping .panel-body {
	min-height: 35px;
}

.result-grouping i.expander {
	margin-right: 8px;
}

h5.panel-title {
	float: left;
}

.panel-heading {
	overflow: hidden;
}
div.grouping-loader-container {
	float: right;
}

i.grouping-loader {
	font-size: 20px;
}

.panel-body.referrers {
	padding: 4px;
}

.panel-body.referrers .pagination {
	margin-top: 4px;
}

.panel-body.referrers .pagination > li > a {
	font-size: 10px;
	padding: 3px 8px;
}

.panel-body .pagination {
	margin-bottom: 0;    
}

.panel-body.referrers .panel-heading {
	padding: 5px 7px;
}

.panel-body.referrers .panel-title {
	font-size: 12px;
	padding-left: 4px;
}

div.search-box {
	display: table;
	vertical-align: top;
	width: 100%;
}

div.search-input {
	display: table-cell;
	width: 100%;
	padding-right: 10px;
}

div.search-box .btn-group {
	display: table-cell;
	text-align: right;
	width: auto;
	margin: 0;
	padding: 0;
}

.viewstyle-selector {
	float: right;
}

/*.root-node {
	padding-top: 10px;
}*/

/*.search-result-facets {
	padding-top: 35px;
}*/

img.button-icon {
	margin-left: 4px;
}

.tabbed-view {
	padding: 4px;
	margin-top: 8px;
}

.item-literature {
	margin-bottom: 4px;
}

.item-literature a {
	display: block;
}

.thesauri-structure-node, 
.thesauri-list {
	padding-left: 12px;
	padding-bottom: 0;
}

.thesauri-structure {
	margin-left: -24px; 
}

.thesauri-structure-node h5 {
	margin-bottom: 4px;
	margin-top: 4px;
} 

.home-button {
	text-align: right;
	line-height: 34px;
	font-size: 26px;
	padding-top: 6px;
}
.home-button a {
	color: rgb(169, 169, 168);
}

.annex-item-details tbody tr:first-child td:first-child {
	border-top: none;
}

.annex-item-details table {
	margin-bottom: 0;
}

.map-group {
	height: auto;
}

.map {
	height: 500px;
	width: 100%;
}

.map-query-info {
	min-height: 30px;
}

.map-query-info .alert {
	margin-bottom: 10px;
	padding: 5px 10px;
}

.item-tab i {
	float: right;
	z-index: 1;
}