<div>
	<ol class="position-list list-unstyled">
		<li ng-repeat="node in position.path" ng-style="{ 'padding-left': indent($index) }" ng-class="{ selected: $last }">
			<a ng-href="/#/item?uri={{node.uri}}">{{node.label}}</a>
		</li>
	</ol>
	<ol class="children-sampling-list list-unstyled">
		<li ng-repeat="child in position.children" ng-style="{ 'padding-left': indent(position.path.length) }">
			<a ng-href="/#/item?uri={{child.uri}}">{{child.label}}</a>
		</li>
	</ol>
	<a ng-href="/#/thesaurus?uri={{path[path.length - 1].uri}}">Meer...</a>
</div>