<div class="row">
	<div class="col-md-3 left-column">
		<div class="home-button"><a ng-click="reset()" class="btn btn-default" href="/#/search"><i class="glyphicon glyphicon-home"></i></a></div>
	</div>
	<div class="col-md-9 main-column">
		<dz:searchbox handler="searchHandler(query)" current-query="searchSpec.query"></dz:searchbox>
	</div>
</div>
<div class="row">
	<div class="col-md-3 left-column">
	</div>
	<div class="col-md-9 main-column">
		<!-- facet selection -->
		<div class="active-facets well well-sm" ng-show="activeFacets.length > 0">
			<button class="btn btn-default btn-sm" 
					ng-class="determineFacetCssClass(facet.classification)" ng-repeat="facet in activeFacets" ng-click="removeFacet(facet)">
				{{facet.facet.label}}: {{facet.label}}<i class="glyphicon glyphicon-remove"></i>
			</button>
		</div>
		<div ng-if="haveResults">
			<div class="btn-group viewstyle-selector">
				<button type="button" class="btn btn-default" ng-click="changeViewstyle('list')" ng-class="{ 'active' : viewstyle == 'list' }">
					Lijst <img class="button-icon" src="/Content/images/icon_lijst_20_20.png" alt="" />
				</button>

				<button type="button" class="btn btn-default" ng-click="changeViewstyle('thumbnails')" ng-class="{'active' : viewstyle == 'thumbnails' }">
					Tegels <img class="button-icon" src="/Content/images/icon_tegels_20_20.png" alt="" />
				</button>

				<button type="button" class="btn btn-default" ng-click="changeViewstyle('map')" ng-class="{'active': viewstyle == 'map'}">
					Kaart <img class="button-icon" src="/Content/images/icon_kaart_20_20.png" alt="" />
				</button>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 left-column">
		<div class="search-result-facets">
			<!-- facets -->
			<div ng-repeat="facet in facets">
				<h5 ng-class="{ selected: isGroupedBy(facet.facet)}">
					<a ng-click="setGroupBy(facet.facet)">{{facet.facet.label}}</a>
				</h5>
				<ul class="list-unstyled facet-list">
					<li ng-repeat="facetValue in facet.facetValues" ng-class="{ 'selected' : isFacetSelected(facet.facet, facetValue.uri) }">
						<div class="resource-link" ng-class="determineFacetCssClass(facetValue.classification)">
							<a ng-click="selectFacet(facet.facet, facetValue)">
								{{facetValue.label}}
							</a>&nbsp;<span class="facet-count">({{facetValue.count}})</span>
						</div>
					</li>
				</ul>
				<div ng-if="facet.hasMoreValues && !isFacetExpanded(facet.facet)">
					<a ng-click="expandFacet(facet.facet)">Meer..</a>
				</div>
				<ul class="pager" ng-if="facet.hasMoreValues && isFacetExpanded(facet.facet)">
					<li class="previous" ng-show="expandedFacetHasPriorValues()" ng-click="expandedFacetPrevious()">
						<a>&larr; Vorige</a>
					</li>
					<li class="next" ng-show="facet.hasMoreValues" ng-click="expandedFacetNext()">
						<a>Volgende &rarr;</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="col-md-9 main-column">
		<div ng-if="haveResults" class="search-results">
			<dz:search-result groups="groups" viewstyle="viewstyle" />
		</div>
		<div class="no-results" ng-if="!haveResults">
			<div class="well">
				Geen resultaten gevonden voor de zoekterm &quot;<span class="zoekterm">{{searchSpec.query}}</span>&quot;.
			</div>
		</div>
	</div>
</div>

