<div class="result-grouping">
	<div ng-repeat="group in groups" class="panel panel-default">
		<div class="panel-heading" ng-click="group.toggleExpansion()">
			<h5 class="panel-title">
			    <i class="expander glyphicon" ng-class="{ 'glyphicon-chevron-up': group.expanded, 'glyphicon-chevron-down': !group.expanded }"></i>
				<span class="grouping-panel-title" dz:resource-value resource="group.group.groupLabel"></span>
				<span class="badge">{{group.group.totalItemCount}}</span>
			</h5>
			<div class="grouping-loader-container">
				<i class="grouping-loader fa fa-spinner fa-spin active" ng-show="group.loadingItems.loading"></i>
			</div>
		</div>
		<div class="panel-body" ng-show="group.expanded">
		    <div ng-if="viewstyle === 'map' && group.expanded">
				<dz:result-map class="result-map" query-object="group.queryMapObject"></dz:result-map>
			</div>
			<div ng-if="viewstyle !== 'map'">
				<ul class="list-unstyled">
					<li class="item" ng-repeat="item in group.queryPagedObject.items" ng-class="{ tiled: viewstyle === 'thumbnails' }">
						<div ng-if="viewstyle == 'thumbnails'">
							<div class="thumbnail-container" dz:queried-thumbnail resource="item">
								<img src='/Content/images/afbeeldingladen.png' alt='' ng-click="navigate(item)" />
							</div>
						</div>
						<div class="item-label" dz:resource-value resource="item"></div>
					</li>
				</ul>
				<div ng-if="group.queryPagedObject.pages">
					<ul class="pagination">
					    <li ng-repeat="page in group.queryPagedObject.pages" ng-class="{ active: group.queryPagedObject.currentPage == page.link, disabled: !page.link }">
							<a ng-click="group.queryPagedObject.gotoPage(page.link)">{{page.caption}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>